<div class ='container' >
  <div class="page-header">
    <h1><%= @course.display_full_code %> Files </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to('Courses', departments_path) %>
      </li>
      <li class = "breadcrumb-item active">
        <%= link_to(@course.display_full_code, course_path(@course)) %>
      </li>
    </ol>

    <% @filetypes.each do |f| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= f.file_type %>
        </h3>
      </div>
      <div class="panel-body">

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Filename</th>
                <th scope ='col'>Lecturer</th>
                <th scope="col">Term</th>
                <th scope="col">Year</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            <% @assets.by_filetype(f.id).each do |a| %>
              <tr>
                <td><%= link_to(a.filename, a.url.url, :id => 'link', :user_id => current_user.id, :asset_id => a.id) %></td>
                <td><%= "#{a.lecturer.firstname} #{a.lecturer.lastname} " %></td>
                <td><%= a.term %></td>
                <td><%= a.year %></td>
                <% if (@current_user.id == a.user_id) || @current_user.is_admin %>
                  <td class = 'actions'>
                   <span class = 'action'> <%= link_to(" ", edit_asset_path(a), :class => 'glyphicon glyphicon-pencil') %> </span>
                   <span class = 'action'><%= link_to(" ", asset_path(a), method: :delete, :class => 'glyphicon glyphicon-remove text-danger',
                    :data => {:confirm => 'Are you sure you want to delete this file?'}) %></span>
                 </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
      </div>

    </div>
  <% end %>

  <span>
    <%= link_to("Upload New File", {:controller => 'assets', :action => 'new', :course => @course.id, :department => @course.department_id} ) %>

  </span>

  </div>
</div>
